:ruby
  top_keywords = current_user.keywords
                             .group(:name)
                             .order(Arel.sql("COUNT('keyword.id') desc"))
                             .limit(5)
                             .count
<<<<<<< HEAD
  search_with_most_keywords = Search.where(user_id: 1)
=======
  search_with_most_keywords = Search.where(user_id: current_user.id)
>>>>>>> c82c8b22b59b3e9f8cb6ae2337152b758b6bbf38
                                    .joins(:search_keywords)
                                    .group(:search_id)
                                    .order(Arel.sql("COUNT('keyword.id') desc"))
                                    .limit(5).count
  top_ad_keywords = current_user.keywords
                                .distinct
                                .joins(:result)
                                .order("total_advertisers desc")
                                .limit(5)
                                .pluck(:name, :total_advertisers)
.row.justify-content-between.mt-3
  .col-auto
    %h1 Dashboard
  .col-auto
    = link_to 'Upload File', new_search_path, class: 'btn btn-secondary'
<<<<<<< HEAD
    = link_to 'Search Keywords', keywords_path, class: 'btn btn-primary'
=======
    = link_to 'Search Reports', results_path, class: 'btn btn-primary text-light'
>>>>>>> c82c8b22b59b3e9f8cb6ae2337152b758b6bbf38
.row.d-flex.justify-content-center.py-5
  .col-md-10
    .row.justify-content-center
      .col-md-4
        .row.justify-content-center
          .card.mb-3
            .card-body
              .card-title Top advertised keywords
              = bar_chart top_ad_keywords
      .col-md-4
        .card.mb-3
          .card-body
            .card-title Top Search Keywords Chart
            = pie_chart top_keywords
    .row.justify-content-center
      .col-md-4
        .card.mb-3
          .card-body
            .card-title Your Latest Searches
            %table.table
              %tbody
                - current_user.searches.order('id desc').limit(5).each do |search|
                  %tr
                    %td.text-center ##{search.id}
                    %td
                      Created #{time_ago_in_words(search.created_at)}
                    %td= link_to 'View', search_path(search.id)
      .col-md-4
        .card.mb-3
          .card-body
            .card-title Your Latest Keywords
            %table.table
              %tbody
                - current_user.keywords.distinct.limit(5).each do |keyword|
                  %tr
                    %td ##{keyword.id}
                    %td #{keyword.name}
<<<<<<< HEAD
                    %td= link_to 'View', result_keyword_path(id: keyword.name)
=======
                    %td= link_to 'View', result_keyword_path(id: keyword.id)
>>>>>>> c82c8b22b59b3e9f8cb6ae2337152b758b6bbf38
      .col-md-4
        .card.mb-3
          .card-body
            .card-title Your Search with Most Keywords
            %table.table
              %tbody
                - search_with_most_keywords.each do |id, value|
                  %tr
                    %td ##{id}
                    %td
                      #{value}
                      %span.text-secondary
                        keywords
                    %td= link_to 'View', search_path(id)

