.row.d-flex.justify-content-center.py-5
  .col-md-6
    .card.mb-3
      .card-body
        .card-title.mb-3
          .row.justify-content-between
            .col-auto
              Upload CSV File
            .col-auto
              = link_to 'Download template', asset_path('/templates/template.csv'), download: true
        = simple_form_for @search, url: upload_search_index_path do |f|
          .row
            .col-9.mb-3
              = f.input :csv_file,
                        as: :file,
                        label: false,
                        required: true,
                        input_html: { class: 'btn btn-lg border', accept: '.csv' }
            .col
              = f.submit value: 'Upload', class: 'btn btn-light border btn-lg'

    = turbo_frame_tag "keywords"
