:ruby
  total_keywords = @search.keywords
  saved_keywords = @keywords
  fail_to_save_keywords = total_keywords.count - saved_keywords.count
.row.d-flex.justify-content-center.py-5
  .col-12.col-md-8
    .card.mb-3
      .card-body
        .card-title.mb-3
          .row.d-flex.justify-content-center
            .col-auto.border-end.d-flex.align-items-center
              %h3 Import Summary
            .col-6
              %table.table
                %thead.text-center
                  %th Total
                  %th.text-primary Saved
                  %th.text-danger Failed
                %tbody
                  %tr.text-center
                    %td= total_keywords.count
                    %td= saved_keywords.count
                    %td= fail_to_save_keywords
    .card.mb-3
      .card-body
        .card-title.mb-3
          .row.d-flex.justify-content-between.align-items-center
            .col-auto
              .fs--5.text-secondary Here's your successfully saved keywords
            .col-auto
              %h5.text-secondary Total
              .ms-3=  @keywords.count
        %table.table.text-center
          %caption List of Keywords
          %thead
            %tr
              %th{ scope: 'col' } #
              %th{ scope: 'col' } Keyword
              %th{ scope: 'col' } Actions
          %tbody
            - @keywords.each_with_index do |keyword, index|
              %tr
                %th{ scope: 'row' } #{index +1}.
                %td{ scope: 'row' }= keyword.name
                %td{ scope: 'row' }
                  - if keyword.result
                    = link_to 'Show Result', result_keyword_path(keyword.id)
                  - else
                    = link_to 'Pending', '#'
