.row.justify-content-between.mt-3
  .col-auto
    %h1 Dashboard
  .col-auto
    = link_to 'Upload File', new_search_path, class: 'btn btn-secondary'
    = link_to 'Search Reports', keywords_path, class: 'btn btn-primary text-light'
.row.d-flex.justify-content-center.py-5
  .col-md-10
    .row.justify-content-center
      .col-md-8
        .row.justify-content-center
          .card.mb-3
            .card-body
              .card-title Top advertised keywords
              = bar_chart top_ad_keywords
    .row.justify-content-center
      .col-md-4
        .card.mb-3
          .card-body
            .card-title Your Latest Searches
            %table.table
              %tbody
                - user_latest_searches.each do |search|
                  %tr
                    %td.text-center ##{search.id}
                    %td
                      Created #{time_ago_in_words(search.created_at)}
                    %td= link_to 'View', search_path(search.id)
      .col-md-4
        .card.mb-3
          .card-body
            .card-title Your Latest Keywords
            %table.table
              %tbody
                - user_latest_keywords.each do |keyword|
                  %tr
                    %td ##{keyword.id}
                    %td #{keyword.name}
                    - if keyword.result
                      %td= link_to 'View', result_keyword_path(id: keyword.id)
                    - else
                      %td= link_to 'Pending', '#'
      .col-md-4
        .card.mb-3
          .card-body
            .card-title Your Search with Most Keywords
            %table.table
              %tbody
                - search_with_most_keywords.each do |id, value|
                  %tr
                    %td ##{id}
                    %td
                      #{value}
                      %span.text-secondary
                        keywords
                    %td= link_to 'View', search_path(id)

